@{
    // Boolean variable to validate if the current user is logged in
    // Will be used to hide tickets link from non-registered users
    bool validUser = (User.IsInRole("Admin") || User.IsInRole("Staff") || User.IsInRole("Customer"));
    bool isAdmin = (User.IsInRole("Admin"));
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/index.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    @Scripts.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">
                <h1><a style="text-decoration: none;" href="@Url.Action("Index", "Home")">SSTS</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu" id="nav">
                    @if (validUser)
                    {
                        <li><a style="text-decoration: none;" href="@Url.Action("Index", "Tickets")">Tickets</a></li>
                    }
                    @if (isAdmin)
                    {
                        <li><a style="text-decoration: none;" href="@Url.Action("Index", "Users")">Admin</a></li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

