@model cw2_ssd.Models.Ticket

@{
    ViewBag.Title = "Delete";
}

<section id="ticketsForm">
    <div style="margin-top: 10vh" class="container">
        <h2>Delete</h2>
        
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Ticket</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TicketDate)
                </dt>
        
                <dd>
                    @Html.DisplayFor(model => model.TicketDate)
                </dd>
        
                <dt>
                    @Html.DisplayNameFor(model => model.ErrorTitle)
                </dt>
        
                <dd>
                    @Html.DisplayFor(model => model.ErrorTitle)
                </dd>
        
                <dt>
                    @Html.DisplayNameFor(model => model.ErrorDesc)
                </dt>
        
                <dd>
                    @Html.DisplayFor(model => model.ErrorDesc)
                </dd>
        
                <dt>
                    @Html.DisplayNameFor(model => model.TicketType)
                </dt>
        
                <dd>
                    @Html.DisplayFor(model => model.TicketType)
                </dd>
        
                <dt>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </dt>
        
                <dd>
                    @Html.DisplayFor(model => model.TicketPriority)
                </dd>
        
                <dt>
                    @Html.DisplayNameFor(model => model.TicketState)
                </dt>
        
                <dd>
                    @Html.DisplayFor(model => model.TicketState)
                </dd>
        
            </dl>
        
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
        
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</section>
