@model IEnumerable<cw2_ssd.Models.Ticket>

@{
    // Used to validate only admins and users to see the CRUD buttons
    bool validUser = (User.IsInRole("Admin") || User.IsInRole("Staff"));
    bool validCustomer = (User.IsInRole("Customer"));
    ViewBag.Title = "Error Tickets";
}

<section id="tickets">
    <div class="container">
        <h2 class="ticketHeader">Error Tickets</h2>
        
        @if (validUser)
        {
            <p class="createBtn">
                @Html.ActionLink("Create New", "Create")
            </p>
        }


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TicketDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ErrorTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ErrorDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketState)
                </th>
                <th></th>
            </tr>
        
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketState)
                </td>
                @if (validUser)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.TicketID }) |
                        @Html.ActionLink("View", "Details", new { id=item.TicketID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.TicketID }) |
                    </td>  
                }
                @if (validCustomer)
                {
                    <td>
                        @Html.ActionLink("View", "Details", new { id=item.TicketID })
                    </td>
                }
            </tr>
        }
        
        </table>
    </div>
</section>
